* {
    box-sizing: border-box;
}
:root {
    color-scheme: dark;
    --primary: #A72714;
    box-sizing: border-box;
    font-family: 'Radiance Regular';
    font-size: 16px;
}
html, body {
    transition: 0.3s;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
html img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
main {
    animation: loadpage 0.8s ease-out;
}
@font-face {
    font-family: 'Radiance Regular';
    src: url('radiance-regular.otf');
}
@keyframes loadpage {
    0% {
        opacity: 0;
        transform: translate(0, 50px);
    }
    100% {
        opacity: 100;
        transform: translate(0, 0px);
    }
}
.header {
    transition: 0.3s;
    background-color: color-mix(in srgb, Canvas, transparent 17%);
    backdrop-filter: blur(5px);
    z-index: 1;
    overflow: hidden;
    position: sticky;
    top: 0px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    min-height: 50px;
    box-shadow: 0 1px 0px color-mix(in srgb, CanvasText, Canvas 70%);
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.header .title {
    transition: 0.3s;
    text-decoration: none;
    justify-content: center;
    color: CanvasText;
    padding: 10px;
    border-radius: 24px;
    font-size: 24px;
}
.header .title:hover {
    color: var(--primary);
}
.header .title img {
    height: 30px;
    margin-right: 15px;
    object-fit: cover;
    vertical-align: top;
    margin-top: -3px;
}
.header .nav a {
    transition: 0.3s;
    text-decoration: none;
    color: CanvasText;
    padding: 10px;
    border-radius: 24px;
    border-style: solid;
    border-color: transparent;
    margin-left: 5px;
}
.header .nav a:hover {
    border-color: CanvasText;
}
dialog {
    z-index: 999;
    transition: 0.3s;
    position: sticky;
    top: 0px;
    animation: dialogFadein 0.3s forwards;
}
dialog:not(:target):not([open]) {
    transition: 0.3s;
    animation: dialogFadeout 0.3s forwards;
}
@keyframes dialogFadein {
    0% {
        transition: 0.3s;
        opacity: 0;
        display: none;
    }
    100% {
        transition: 0.3s;
        opacity: 1;
        display: block;
    }
}
@keyframes dialogFadeout {
    0% {
        transition: 0.3s;
        opacity: 1;
        display: block;
    }
    100% {
        transition: 0.3s;
        opacity: 0;
        display: none;
    }
}
.modal {
    z-index: 99;
    transition: 0.3s;
    margin: 3rem auto;
    width: 90%;
    height: 100%;
	position: fixed;
    border: none;
    overflow: hidden;
    background-color: transparent;
    align-items: center;
    text-align: center;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.modal-close-blank {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -1920px;
    padding: 1000%;
    width: calc(infinity);
    height: calc(infinity);
    cursor: default;
    background-color: color-mix(in srgb, Canvas, transparent 17%);
    z-index: -1;
    pointer-events: all;
}
.modal .fs-image img {
    overflow: hidden;
    transition: 0.3s;
    margin: auto;
    width: 90%;
    height: 100%;
    object-fit: cover;
}
.title .content {
    font-size: 48px;
}
.title .zigzag-item {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: CanvasText;
    padding: 1rem;
    padding-top: calc(50vh - 17rem);
    padding-bottom: calc(50vh - 5rem);
    border-radius: 24px;
    max-width: 1500px;
    margin: auto;
}
.title .zigzag-item.reverse {
    flex-direction: row-reverse;
}
.title .zigzag-item .image img {
    transition: 0.3s;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    object-fit:contain;
    animation: shadowglow 4s ease-in-out infinite;
}
@keyframes shadowglow {
    0% {
        transform: scale(100%);
        filter: drop-shadow(0px 0px 25px var(--primary));
    }
    50% {
        transform: scale(95%);
        filter: drop-shadow(0px 0px 50px var(--primary));
    }
    100% {
        transform: scale(100%);
        filter: drop-shadow(0px 0px 25px var(--primary));
    }
}
@media (max-width: 768px) {
    .title .zigzag-item {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .title .zigzag-item.reverse  {
        flex-direction: column;
    }
}
.github-alt {
    transition: 0.3s;
    text-decoration: none;
    color: color-mix(in srgb, CanvasText, grey 70%);
    background-color: Canvas;
    font-size: 32px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.github-alt:hover {
    color: color-mix(in srgb, CanvasText, grey 0%);
}
.github-alt svg {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -4px;
}
.github-alt svg path {
    transition: 0.2s;
    fill: color-mix(in srgb, CanvasText, grey 70%)
}
.github-alt:hover svg path {
    fill: color-mix(in srgb, CanvasText, grey 0%)
}
.category .info {
    text-align: center;
    font-size: 24px;
}
.category .details {
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    word-break:break-all;
}
:root::selection, html::selection, body::selection, br::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, span::selection, p::selection, i::selection, b::selection, code::selection, a::selection {
    color: CanvasText;
    background-color: color-mix(in srgb, var(--primary), Canvas 70%);
}
.category .details span a {
    transition: 0.3s;
    color: var(--primary);
}
.category .details span a:hover {
    color: red;
}
.category .details span code {
    border-radius: 4px;
    background-color: color-mix(in srgb, Canvas, darkgrey 20%);
}
.category .helper-image {
    text-align: center;
    margin-left: 50px;
}
.category .helper-image img {
    transition: 0.3s;
    width: 100%;
    max-width: 120px;
    border-radius: 12px;
    object-fit: contain;
}
.category .tip-image {
    text-align: center;
    margin-top: 20px;
    filter: hue-rotate(100deg);
}
.category .tip-image img {
    transition: 0.3s;
    width: 100%;
    max-width: 160px;
    border-radius: 12px;
    object-fit: contain;

}
.category .download-link {
    transition: 0.3s;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 38px;
    margin: auto;
    width: auto;
    max-width: 100%;
    border-radius: 12px;
}
.category .download-link a {
    transition: 0.3s;
    background-color: color-mix(in srgb, CanvasText, green 75%);
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    text-decoration: none;
    color: CanvasText;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.category .download-link a:hover {
    background-color: color-mix(in srgb, CanvasText, darkgreen 100%);
}
.category .download-link a svg {
    transition: 0.3s;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -5px;
}
.category .download-link .alt {
    color: color-mix(in srgb, CanvasText, grey 70%);
    display: block;
    text-align: center;
    transition: 0.3s;
    font-size: 15px;
    padding: 0;
    margin: 0;
    opacity: 0;
    margin-top: 20px;
    margin-bottom: 50px;
    visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.category .download-link:has(a:hover) .alt {
    opacity: 100;
    visibility: visible;
}
.category .github-link {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 100px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.category .github-link a {
    transition: 0.3s;
    text-decoration: none;
    color: color-mix(in srgb, CanvasText, grey 70%);
}
.category .github-link a:hover{
    color: color-mix(in srgb, CanvasText, grey 0%);
}
.category .github-link a svg {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -2px;
}
.category .github-link a svg path {
    transition: 0.2s;
    fill: color-mix(in srgb, CanvasText, grey 70%)
}
.category .github-link a:hover svg path {
    fill: color-mix(in srgb, CanvasText, grey 0%)
}
.category .download-info {
    text-align: center;
    margin-top: -35px;
}
@media (max-width: 768px) {
    .header {
        display: flow-root;
    }
    .header .nav {
        margin-top: 15px;
    }
}
.category .title {
    align-items: center;
    text-align: center;
    width: auto;
    font-size: 48px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    max-width: 70em;
    margin: auto;
  }
  
.zigzag-item {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border-radius: 24px;
}
  
.zigzag-item.reverse {
    flex-direction: row-reverse;
}

.content {
    font-size: 32px;
    flex: 1;
}
.content p, .content h2 {
    margin: 0px;
}
  
.image {
    flex: 1;
}

.image img {
    transition: 0.3s;
    min-height: 250px;
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    z-index: 2;
}

@media (max-width: 768px) {
    .zigzag-item {
        flex-direction: column;
        gap: 0;
        padding: 0;
    }

    .zigzag-item.reverse {
        flex-direction: column;
    }
}
.middle {
    pointer-events: none;
    z-index: 1;
    transition: 0.3s;
    opacity: 0;
    margin: auto;
    text-align: center;
    transform: translate(0, -20px);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.image.fs img:hover {
    opacity: 0.6;
    cursor: pointer;
}
.image.fs:has(img:hover) .middle {
    opacity: 1;
    transform: translate(0, 0px);
}
.footer hr {
    border: none;
    height: 1px;
    width: 95%;
    background-color: color-mix(in srgb, CanvasText, grey 70%);
    margin-bottom: 20px;
}
.footer .disclaimer {
    transition: 0.3s;
    text-align: center;
    align-items: center;
    color: color-mix(in srgb, CanvasText, grey 100%);
    padding: 5px;
    padding-top: 0px;
}
.footer .disclaimer a {
    transition: 0.2s;
    text-decoration: none;
    color: var(--primary);
    outline: none;
}
.footer .disclaimer a:hover, .footer .disclaimer a:focus-visible {
    color: CanvasText;
}
.footer .disclaimer svg {
    transition: 0.3s;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -2px;
}
.footer .disclaimer svg path {
    transition: 0.3s;
    fill: var(--primary);
}
.footer .love {
    transition: 0.3s;
    text-align: center;
    align-items: center;
    color: color-mix(in srgb, CanvasText, grey 100%);
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.footer .love a {
    transition: 0.2s;
    text-decoration: none;
    color: var(--primary);
    outline: none;
}
.footer .love a:hover, .footer .love a:focus-visible {
    color: CanvasText;
}
.footer .love svg {
    transition: 0.3s;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -1px;
}
.footer .love svg path {
    transition: 0.3s;
    fill: color-mix(in srgb, CanvasText, var(--primary) 60%);
}
.footer .love svg path:hover {
    fill: color-mix(in srgb, CanvasText, var(--primary) 100%);
}
